@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  
  --color-brand-blue: #02243a;
  --color-brand-gold: #c0a17c;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
  color: var(--color-brand-blue);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: var(--font-serif);
}
